argon2-cffi==19.1.0
Django==2.2
django-mptt==0.10.0
django-yarn==0.0.2
get-video-properties==0.1.0
humanfriendly==4.18
Pillow==6.0.0
pytest==4.4.1
pytest-django==3.4.8
requests==2.21.0
sqlparse==0.3.0
